  
<%- include ("cabeceras/cabecera.principal.ejs") %>

<style >
    .menor {
        color: red;
    }
</style>
<h2>Responsive Table with DataTables</h2>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <table summary="This table shows how to create responsive tables using Datatables' extended functionality" class="table table-bordered table-hover dt-responsive">
        <caption class="text-center">An example of a responsive table based on <a href="https://datatables.net/extensions/responsive/" target="_blank">DataTables</a>:</caption>
        <thead>
          <tr>
            <th>ID</th>
            <th>Fecha de Creación</th>
            <th>Proyecto</th>
            <th>Versión</th>
            <th>Costos</th>
            <th>Ventas</th>
            <th>Margen</th>
            <th>Saldo final</th>
            <th>Sumatoria</th>
          </tr>
        </thead>
        <tbody>
          <tr>
          
            <% if (data) { %>
                
                <% for(var i=0; i < data.length; i++) { %>
                <% let margen = (data[i].ventas - data[i].costos)%>
                    <tr>
                        <td>
                            <%= data[i].id_presupuesto %>
                        </td>
                        <td>
                            <%= data[i].fecha_presupuesto %>
                        </td>
                        <td>
                            <%= data[i].proyecto_presupuesto %>
                        </td>
                        <td>
                            <%= data[i].version_presupuesto %>
                        </td>
                        <td>
                            <%= data[i].costos %>
                        </td>
                        <td>
                            <%= data[i].ventas %>
                        </td>
                        <td>
                         
                            <% if (margen <= 0) { %>
                                <p class="menor"><%= (data[i].ventas - data[i].costos).toFixed(2)%></p>
                                
                            <%}else{%>
                                <%= (data[i].ventas - data[i].costos).toFixed(2)%>
                             <%}%>   
                        </td>
                        <td>
                          <% if (margen <= 0) { %>
                            <p class="menor"><% let total = margen %>
                              <%= total.toFixed(2)%></p>
                            
                        <%}else{%>
                          <% let total = margen %>
                          <%= total.toFixed(2)%>
                         <%}%>   
                            
                       
                        </td>
                        <td>
                          <% if (margen <= 0) { %>
                            <p class="menor"><% let sumatoria = margen %>
                              <%= sumatoria.toFixed(2)%></p>
                            
                        <%}else{%>
                          <% let sumatoria = margen %>
                          <%= sumatoria.toFixed(2)%>
                         <%}%>   
                            
                       

                            
                       
                        </td>
                        <td>
                            <a href="/updateProducto/<%=data[i].id_producto%>"
                                class="btn btn-info">Editar</a>
                            <a href="/deleResumen/<%=data[i].id_resumenF%>" class="btn btn-danger">
                                Eliminar</a>
                        </td>
                    </tr>
                    
                    <% } %>
                        <% } %>
          </tr>
          
        </tbody>
        <tfoot>
          <tr>
            <td colspan="5" class="text-center">Data retrieved from <a href="http://www.infoplease.com/ipa/A0855611.html" target="_blank">infoplease</a> and <a href="http://www.worldometers.info/world-population/population-by-country/" target="_blank">worldometers</a>.</td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>

<p class="p">Demo by George Martsoukos. <a href="http://www.sitepoint.com/responsive-data-tables-comprehensive-list-solutions" target="_blank">See article</a>.</p>

</body>
</html>